$blue: #cce5ff;
$green: #d4edda;
$yellow: #fff3cd;
$red: #f8d7da;
$white: #fff;
$gray: #d6d8d9;

.copyvio {
	background-color: $blue !important;
}

.iw {
	background-color: $gray !important;
}

.delete {
	background-color: $red !important;
}

.toNext {
	background-color: $blue !important;
}

.markAsChecked {
	background-color: $green !important;
}

.forLater {
	background-color: $yellow !important;
}
